django~=4.0.5
django-allauth~=0.51.0
django-environ~=0.9.0
django-storages[google]~=1.12.3
google-auth~=2.9.0
google_cloud_secret_manager~=2.11.1
gunicorn~=20.1.0
psycopg2~=2.9.3
pyyaml~=6.0
six~=1.16.0
